@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-text antialiased;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    background: linear-gradient(to bottom, #000000, #008080, #000000);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold text-text;
  }

  /* Стили для скроллбара под новую темную тему */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-surface/50;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-surface-muted rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted;
  }
}
