@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E6F2FF;
  --foreground: #1A1F2B;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: var(--foreground);
}